.main-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-inputs {
    min-width: 20vw;
}

.input-row-username,
.input-row-password {
    margin-bottom: 25px;
}

.social-auth-btn{
    background: none;
    border: none;
}